In [53]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [54]:
data = r"C:\Users\UDOH\Desktop\ALL PANTECH\14_StockPredictionusing_SVMREGRESSION\data.csv"

In [55]:
df = pd.read_csv(data)

In [56]:
df.head()

            x           y
0  168.181818  160.840244
1  187.878788  159.413657
2  207.575758  157.136809
3  227.272727  159.357847
4  246.969697  157.542862

In [57]:
df.shape

(94, 2)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       94 non-null     float64
 1   y       94 non-null     float64
dtypes: float64(2)
memory usage: 1.6 KB

In [59]:
df.describe()

                 x           y
count    94.000000   94.000000
mean   1084.090909  166.576111
std     537.321877    5.861601
min     168.181818  155.234046
25%     626.136364  161.236377
50%    1084.090909  166.508064
75%    1542.045455  171.784967
max    2000.000000  176.361532

In [41]:
df.isnull().sum()

x    0
y    0
dtype: int64

### SEGREGATE DATA INTO INPUT X AND OUTPUT Y

In [60]:
#x = df.iloc[:, :-1].values
#x
x = df.drop(df.columns[-1], axis=1)
x

              x
0    168.181818
1    187.878788
2    207.575758
3    227.272727
4    246.969697
..          ...
89  1921.212121
90  1940.909091
91  1960.606061
92  1980.303030
93  2000.000000

[94 rows x 1 columns]

In [29]:
Y = df.iloc[:, -1].values
Y

array([160.84024381, 159.41365734, 157.1368088 , 159.35784736,
       157.54286158, 157.73520716, 159.34756091, 155.23404557,
       155.80774009, 158.3299704 , 157.62585291, 160.47697951,
       158.22940639, 157.41781684, 163.37069148, 160.18481104,
       160.96838974, 158.18080666, 160.13850728, 161.6460876 ,
       159.31922497, 162.56957785, 160.81387414, 161.62873371,
       161.20567768, 166.31061698, 162.77603585, 160.88457814,
       164.84205952, 160.95225209, 164.00863628, 159.86853854,
       161.32847639, 164.57554065, 165.85572104, 164.91849414,
       164.54143071, 164.36748958, 162.20962269, 163.92394795,
       164.63932852, 167.87182021, 166.64178203, 162.62543484,
       166.99665279, 165.77528998, 165.38858024, 168.16274652,
       169.19836268, 169.19589357, 165.85186798, 167.10884798,
       168.58676929, 170.07230238, 167.35983334, 168.14383356,
       166.49945126, 166.51667766, 170.73111225, 172.01551036,
       169.35597976, 171.70403549, 170.61721144, 168.80066958,
       171.01067   , 173.56092162, 170.6101661 , 174.00807519,
       165.83626737, 172.91653228, 171.64379111, 171.06865197,
       172.04715792, 168.08546823, 171.81823198, 173.1687706 ,
       175.60730324, 171.81194441, 171.42846734, 172.23891016,
       175.27019817, 174.29386586, 172.77381293, 175.0568379 ,
       174.42142783, 176.36153241, 173.21710593, 174.16285752,
       174.23093521, 172.28509132, 176.00133146, 176.12817115,
       175.81325722, 175.53082573])

In [61]:
Y = df[df.columns[-1]]
Y

0     160.840244
1     159.413657
2     157.136809
3     159.357847
4     157.542862
         ...
89    172.285091
90    176.001331
91    176.128171
92    175.813257
93    175.530826
Name: y, Length: 94, dtype: float64

### Splitting the Dataset for Training & Testing

In [74]:
from sklearn.model_selection import train_test_split
x_train,x_test,Y_train,Y_test = train_test_split(x, Y, test_size=0.20,random_state=0)

### Training Dataset Using Support Vector Regressionm

In [72]:
from sklearn.svm import SVR
model = SVR()
model.fit(x_train, Y_train)

SVR()

### Evaluation of model

### Prediction for all test data for validation
### SSres is the sum of squares of the residual errors.
### SStot is the total sum of the errors.

R*2= 1- SSres / SStot

In [73]:
Ypred = model.predict(x_test)

from sklearn.metrics import r2_score,mean_squared_error
mse = mean_squared_error(Y_test,Ypred)
rmse=np.sqrt(mse)
print("Root Mean Square Error:", rmse)
r2score = r2_score(Y_test,Ypred)
print("R2Score", r2score*100)

Root Mean Square Error: 2.2874345266298186
R2Score 85.57906418314455