In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
data=r"C:\Users\UDOH\Desktop\ALL PANTECH\13_ SalaryPredictionusing_POLYNOMIALREGRESSION\13_ SalaryPredictionusing_POLYNOMIALREGRESSION\dataset.csv"

In [20]:
df = pd.read_csv(data)

In [21]:
df.head()

   Level  Salary
0      1   45000
1      2   50000
2      3   60000
3      4   80000
4      5  110000

In [22]:
df.shape

(10, 2)

In [23]:
#Segregate Dataset ino x and Y
target = 'Salary'
Y = target
x = df.drop('Salary', axis=1, inplace=True)

In [25]:
x